.art-text {
    display: flex;
    position: relative;
    z-index: 2;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.image-container img {
    max-width: 70%;
    height: auto;
    opacity: 0;
    transform: scale(0.9);
}

@keyframes fadeInBounce {
    0% {
        opacity: 0;
        transform: scale(0.5) translateY(-30px);
        filter: blur(20px);
    }
    50% {
        opacity: 0.5;
        transform: scale(1.2) translateY(5px);
        filter: blur(5px);
    }
    100% {
        opacity: 1;
        transform: scale(1) translateY(0);
        filter: blur(0);
    }
}

.fade-in-bounce {
    animation: fadeInBounce 2s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

/*!* ✅ 只有在 playAnimation === true 时，才触发动画 *!
.fade-in-scale {
    animation: fadeInScale 1.5s ease-in-out forwards;
}

@keyframes fadeInScale {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}*/
