@font-face {
    font-family: 'LXGWWenKaiMono';
    src: url('/font/LXGWWenKaiMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.barrage-container {
    position: fixed; /* 弹幕容器覆盖整个页面 */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* 确保弹幕不会阻挡用户操作 */
    z-index: 1; /* 设置较低的层级 */
}

.barrage {
    position: absolute;
    white-space: nowrap;
    font-size: 2.5rem;
    font-weight: bold;
    font-family: 'LXGWWenKaiMono', sans-serif;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5), 0 0 10px rgba(255, 215, 0, 0.8);
    background: linear-gradient(90deg, #ffcc00, #ffd700, #ffdf00);
    background-size: 200% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientMove 6s infinite linear, moveLeft 8s linear forwards;
}

@keyframes moveLeft {
    from {
        transform: translateX(100%) scale(1);
        opacity: 0;
    }
    15% {
        opacity: 1;
    }
    to {
        transform: translateX(-500%) scale(1);
        opacity: 0;
    }
}

/* 金光流动动画 */
@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 200% 50%;
    }
}